@{
    Guid id = Guid.NewGuid();
}
<div class="radioButton" style="@Style">
    <input id="@id" type="radio" name="@NameRadioGroup" />
    <label for="@id">
        <span>@Label</span>
        <div></div>
    </label>
</div>
